.btn-primary {
  background: map-get($colors, "primary");
  text-align: center;
  color: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition: background-color 0.1s, border-color 0.2s, color 0.1s;
  transition: background-color 0.1s, border-color 0.2s, color 0.1s;
  box-shadow: 0 -1px 0 0 rgba(50, 53, 57, 0.25) inset;
  border-bottom-color: rgba(50, 53, 57, 0.25);
}

.btn-outline-white{
  &:hover, &:active, :focus{
    color: map-get($colors,"primary");
  }
}