$mobile-header-height: 98px;
$small-laptop-header-height: 124px;
$laptop-header-height: 138px;

#site-content {
  padding-top: $mobile-header-height !important;
  @media (min-width: $nav-collapse-breakpoint) {
    padding-top: $small-laptop-header-height !important;
  }
  @include media-breakpoint-up($nav-breakpoint-up) {
    padding-top: $laptop-header-height !important;
  }
}

.lg-loading-screen {
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #3498db,
    #2c3e50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #3498db,
    #2c3e50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

hr.lg {
  margin-top: $hr-margin-y * 3;
  margin-bottom: $hr-margin-y * 3;
}

.h-with-line {
  &:after {
    content: "";
    background-color: map_get($colors, "primary");
    height: 1px;
    display: block;
    width: 100px;
    margin-top: 5px;
  }
}

.h-with-icon {
  &:before {
    content: "";
    background-image: url(../images/meadowvale-headings-icon.png);
    border-bottom: 1px solid theme-color("secondary");
    background-size: auto;
    background-position: center;
    height: 45px;
    width: 120px;
    display: block;
    margin: auto;
    background-repeat: no-repeat;
  }
}

.remove-list-padding {
  padding-left: 20px;
}

.flexible_call-to-action {
  h3 {
    margin-bottom: 0;
  }

  .btn {
    border: 1px solid #fff;
    color: #fff;
    padding: 0.3rem 2.8rem;
    font-size: 20px;

    &:hover,
    &:active,
    &:focus {
      color: map_get($colors, "primary");
      background-color: #fff;
    }
  }
}

.btn {
  border-radius: 5px;
  padding: 0.2rem 1.6rem;
  font-weight: 300;
}

.btn-outline-primary {
  &:hover,
  &:active,
  &focus {
    color: #fff;
  }
}

.flexible_2_column_grid {
  .order-2 {
    @include media-breakpoint-down("sm") {
      margin-top: 1rem;
    }
  }
}

.remove-embed-before {
  .embed-responsive:before {
    content: none;
  }
}

.home-specialists {
  img {
    margin-bottom: 50px;
  }

  h2 {
    margin-bottom: 20px;
  }

  a {
    margin-bottom: 40px;
    display: inline-block;
  }

  .text-editor {
    max-width: 480px;
  }
}

.cta-with-bg-img {
  background-position: center right;
  padding: 50px 0;
  text-align: center;
}

.logo-bg {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-image: url(../images/meadowvale-icon.png);
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    opacity: 0.3;
  }
}

.full-size-image {
  .team-members {
    .item {
      height: 300px;
      img {
        height: 300px;
        object-fit: cover;
      }
    }
  }
}

.datepicker > .datepicker_header > .icon-close {
  right: 10px !important;
}

@include media-breakpoint-up(md) {
  .home-specialists {
    img {
      margin-bottom: 0;
    }

    h2 {
      margin-bottom: 20px;
    }

    a {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .cta-with-bg-img {
    text-align: left;
  }

  .home-specialists {
    .order-md-initial {
      padding-left: 0;
    }
  }
}

@include media-breakpoint-up(lg) {
  .home-specialists {
    img {
      margin-bottom: 0;
    }

    .text-editor > * {
      padding-left: 30px;
    }

    .text-editor h2 {
      padding-left: 0px;
    }

    h5 {
      position: relative;

      &:before {
        position: absolute;
        left: 0;
        top: 5px;
        font-family: "Font Awesome\ 5 Free";
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        -webkit-font-feature-settings: normal;
        font-feature-settings: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        color: map_get($colors, "primary");
      }

      &.h-with-sun:before {
        content: "\f185";
      }

      &.h-with-camera:before {
        content: "\f030";
      }

      &.h-with-arrow-up:before {
        content: "\f062";
      }
    }

    .flexible_2_column_grid {
      > div:first-child {
        padding-right: 40px;
      }

      > div:last-child {
        padding-left: 40px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .full-width-mobile-block,
  .home-specialists,
  .flexible_2_column_grid {
    .order-1 {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .flexible_call-to-action {
    .align-items-start {
      align-items: center !important;
    }
  }
}
