#site-footer {
	#site-footer-main {
		color: #212529;
		h2 {
			margin-bottom: 1rem;
			@include media-breakpoint-up('md'){
				margin-bottom: 2rem;
			}
			font-weight: 400;
			font-size: 1.5rem;
			color: theme-color("primary");
		}

		.footer-logo {
			max-width: 100px;
			@include media-breakpoint-up('sm'){
			  	max-width: 150px;
			}
		}
		ul {
			padding-left: 0;
			list-style: none;
			margin-bottom: 0;
			li {
				&:not(:last-child){
					margin-bottom: .5rem;
				}
				a {
					padding: 0;
					color: theme-color('dark');
					&:hover {
						color: theme-color('primary');
					}
				}
			}
		}
		.lg-social-media {
			display: flex;
			li {
				&:not(:last-child){
					padding-right: 20px;
				}
				i {
					&:hover {
						&:before {
							color: theme-color('primary');
						}
					}
					&:before {
						color: theme-color('secondary');
					}
				}
			}
		}
	}

	#footer-legal {
		border-top: 1px solid theme-color('dark');
		font-size: 1rem;
		@include media-breakpoint-down('sm'){
			text-align: center;
		}
		> div {
			&.site-info {
				color: theme-color('dark');
			}
			a {
				color: theme-color('dark');
				&:hover {
					color: theme-color('primary');
				}
			}
		} 
	}

}