form {
	ul {
		list-style: none;
		padding-left: 0;
		li {
			&:not(:last-child){
				margin-bottom: 1.5rem;
			}
			input, textarea {
				width: 100%;
				padding: 15px 10px;
				&:placeholder {
					font-family: $font-family-base;
				}
			}
		}
	}
}

/******* move this part of code to another template later *********/

.btn {
	padding: .5rem 1.5rem;
}

.contact-wrapper {
	.clinic-info {
		.col-md-6 {
			padding-left: 0;
		}
	}
	.contact-right {
		.form-map {
			> p:first-child {
				display: none;
			}
		}
	}
	.contact-form {
		.gform_wrapper {
			margin-top: 0;
			form li {
				margin-top: 0;
			}
			input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
				padding: 10px 15px;
			}
			textarea {
				padding: 10px 15px;
			}
			.gform_footer input:not(:disabled):not(.disabled)[type=submit] {
				@extend .btn;
				@extend .btn-primary;
				@include media-breakpoint-down("sm"){
					display: block;
					width: 100%;
				}
			}
		}
	}
}

.contact-map {
	.flexible_text .text-editor {
		& > p {
			display: none;
		}
	}
}