$nav-collapse-breakpoint: 1315px;

hr.lg {
  margin-top: $hr-margin-y * 3;
  margin-bottom: $hr-margin-y * 3;
}

.utility-bar {
  display: none;
}

.mobile-header-contacts {
  .mobile-header-email {
    background-color: darken(theme-color("primary"), 10%);
    &:hover {
      background-color: theme-color("primary");
    }
  }
}

.nav-book {
  display: none;
}
@media (min-width: $nav-collapse-breakpoint) {
  .nav-book {
    display: inline-block;
  }
}

// create responsive menu with sub menus
#site-header .main-navigation {
  .navbar {
    .navbar-nav {
      @include media-breakpoint-up($nav-breakpoint-up) {
        align-items: center;
      }
      > .menu-item {
        border-bottom: 1px solid #ababab;
        padding: 0;
        @include media-breakpoint-up($nav-breakpoint-up) {
          border-bottom: none;
          padding: 1rem 1.5rem;
        }
        i {
          color: white;
          padding-right: 1.5rem;
          &:before {
            font-size: 14px;
          }
          @include media-breakpoint-up($nav-breakpoint-up) {
            padding-right: 0;
            color: theme-color("dark");
            margin-left: 5px;
          }
        }
        &.dropdown {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          @include media-breakpoint-up($nav-breakpoint-up) {
            align-items: flex-start;
          }
          & > .dropdown-menu {
            flex: 0 0 100%;
            border-bottom: none;
          }
        }

        .dropdown-toggle {
          &:after {
            content: none;
          }
        }
        &.nav-book {
          padding-right: 0;
          > .nav-link {
            padding: 0.5rem 1.5rem;
          }
        }
        & > .nav-link {
          border-bottom: none;
          display: inline-block;
          font-weight: 400;
          @include media-breakpoint-up($nav-breakpoint-up) {
            padding: 0;
          }
        }
      }
    }
  }
}

#site-header {
  .header-main {
    padding: 1rem 0;
    @include media-breakpoint-down($nav-breakpoint-down) {
      padding: 0.75rem 0;
      padding-bottom: 0;
    }
    // @include media-breakpoint-down('xs'){
    //   padding: 0;
    // }
    .menu-wrapper {
      .utility-bar {
        a:hover {
          color: theme-color("primary");
        }
      }
      .main-navigation .navbar-nav a.nav-link {
        &:hover {
          color: theme-color("primary");
        }
      }
    }
    .site-branding .logo {
      @include media-breakpoint-up("lg") {
        width: auto;
      }
    }
  }

  .header-main .site-branding .logo img {
    max-width: 125px;
    @include media-breakpoint-up("lg") {
      max-width: 100%;
      width: auto;
      height: 87px;
    }
  }
}

.menu-wrapper {
  width: 100%;
}

#main-navbar {
  .nav-search {
    display: flex;

    #header-search-form {
      align-self: center;
      align-items: stretch;
      display: none;

      input {
        padding: 10px 10px;
        height: 100%;
      }

      button {
        background-color: theme-color("primary");
        border-radius: 0 3px 3px 0;
        border: none;
        height: 46px;
        width: 46px;
        color: #fff;
      }
    }

    #header-search-form.show-search-form {
      display: flex;
    }
  }
}

.home .top-banner {
  height: 600px;
  overflow-y: hidden;
  .banner-slider {
    visibility: hidden;
    &.slick-initialized {
      visibility: visible;
    }
  }
}

.top-banner {
  position: relative;
  color: #fff;
  a {
    color: #fff;
    &:hover {
      color: theme-color("primary");
    }
  }
  .gform_wrapper .gform_footer input.button,
  .gform_wrapper .gform_footer input[type="submit"] {
    width: 100%;
    display: block;
  }

  .gform_wrapper {
    h3.gform_title {
      font-size: 1.25rem;
      font-weight: 600;
    }
    margin-top: 0;
    form li {
      margin-top: 0;
    }
    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
      padding: 10px 15px;
    }
    textarea {
      padding: 10px 15px;
    }
    .gform_footer input:not(:disabled):not(.disabled)[type="submit"] {
      @extend .btn;
      @extend .btn-primary;
      @include media-breakpoint-down("sm") {
        display: block;
        width: 100%;
      }
    }
  }

  .lg-gallery {
    position: absolute;
  }
}

.top-banner-overlay {
  padding: 2rem 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@include media-breakpoint-up(lg) {
  .utility-bar {
    display: block;
  }
  .menu-wrapper {
    width: auto;
  }
  #main-navbar {
    .nav-search {
      position: relative;

      #header-search-form {
        padding: 20px 10px;
        background-color: #fff;
        position: absolute;
        padding: 20px 10px;
        box-shadow: 0 2px 6px #e7e7e7;
        -webkit-box-shadow: 0 2px 6px #e7e7e7;
        -moz-box-shadow: 0 2px 6px #e7e7e7;
        top: 50px;
        left: -50%;

        input {
          padding: 10px 10px;
        }
      }
    }
  }
  #site-header .utility-bar {
    font-size: 14px;
    padding: 0px;
    padding-bottom: 1rem;
    .right {
      a {
        margin-left: 15px;
      }
    }
  }

  .top-banner-overlay {
    padding: 5rem 0;
  }

  .main-navigation {
    .dropdown-menu {
      background-color: #fff;
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
      border: 0;
      border-top: 2px solid map_get($colors, "primary");
      padding-top: 0;
    }

    .dropdown-item {
      color: #000;

      &.active,
      &:hover,
      &:focus,
      &:active {
        background-color: #fff;
        color: map_get($colors, "primary");
      }
    }
  }
}

.top-banner {
  .top-banner-form {
    position: absolute;
    z-index: 99;
    left: calc(70% - 2rem);
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 375px;
    .gform_wrapper {
      background-color: rgba(#efede6, 0.8);
      padding: 10px 20px 15px 20px;
      border-top: 6px solid map_get($colors, "primary");
      &.gform_validation_error {
        h2.gform_submission_error {
          font-size: 1.5rem;
        }
        .gfield_validation_message {
          color: red;
        }
      }
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  .lg-gallery {
    position: static;
    .slick-prev,
    .slick-next {
      z-index: 500;
      @include media-breakpoint-down(sm) {
        display: none !important;
      }
    }
    .slick-slide img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }

  .top-banner-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    .banner-text {
      height: 100%;
    }
  }
  &.home-top-banner {
    position: relative;
    @include media-breakpoint-down(sm) {
      .slick-track {
        display: flex;
        .slick-slide {
          height: inherit;
        }
      }
    }
    .top-banner-overlay {
      background-color: rgba(theme-color("primary"), 0.4);
      @include media-breakpoint-down(sm) {
        position: static;
        background-color: rgba(theme-color("primary"), 1);
        padding-bottom: 3rem;
        .banner-text {
          height: unset;
        }
      }
      .banner-text > div {
        @include media-breakpoint-up(md) {
          max-width: 50%;
        }
      }
    }
    .lg-gallery {
      position: relative;
      .slick-slide {
        position: relative;
        img {
          height: 600px;
          object-fit: cover;
          @include media-breakpoint-down(sm) {
            height: 275px;
          }
          @include media-breakpoint-down(xs) {
            object-position: 30% 50%;
          }
        }
      }
      .slick-dots {
        bottom: 1rem;
        z-index: 999;
        > li {
          > button {
            &:before {
              color: theme-color("primary");
              font-size: 2rem;
              @include media-breakpoint-down(sm) {
                color: #fff;
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}
