.home-contact-hours {
  .flexible_2_column_grid {
    > div:first-child {
      .text-editor {
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        opacity: 0.76;
        margin-bottom: 30px;
      }
    }
    > div:last-child {
        .text-editor {
          height: 100%;
          > p {
            display:none;
          }
          .lg-map {
            height: 100%;
          }
        }
    }
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}


@include media-breakpoint-up(md) {
  .home-contact-hours {
    .flexible_2_column_grid {
      > div:first-child {
        padding-right: 0;

        .text-editor {
          height: 100%;
        }
      }

      > div:last-child {
        padding-left: 0;

        .text-editor {
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
          iframe{
            margin-top: 4px;
          }
        }
      }

    }
  }
}