.home-service-items {
  list-style-type: none;
  padding-left: 0;

  > li {
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    padding: 5px 0;
    color: map_get($colors, "primary");

    a {
      color: theme-color("secondary");
    }

    &:before {
      content: "\f058";
      padding-right: 10px;
      font-family: "Font Awesome\ 5 Free";
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
    }
  }
}

@include media-breakpoint-between(sm, md) {
  .home-service-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    > li {
      padding-left: 15px;
      padding-right: 15px;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

@include media-breakpoint-up(lg) {
  .home-service-items {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100%;

    > li {
      flex-grow: 1;
      border: 1px solid #ddd;
      border-bottom: 0;
      font-weight: 300;
      padding: 8px 20px;
      color: map_get($colors, "secondary");

      &:last-child {
        border-bottom: 1px solid #ddd;
      }

      &:before {
        display: none;
      }
    }

    > li.active {
      color: map_get($colors, "primary");
    }
  }
  .our-services-text-layout {
    text-align: center;

    p {
      text-align: center;
      max-width: 500px;
      margin: auto;

      > * {
        text-align: center !important;
      }
    }
  }

  .home-service-items-wrap {
    padding-right: 0;
  }
  .home-service-items-content-wrap {
    padding-left: 0;
  }

  .home-service-items-content {
    color: #fff;
    height: 100%;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 20px;

    > div {
      display: none;
      padding: 20px 0 40px 0;
    }

    > div.active {
      display: block;
    }

    h3 {
      font-size: 2.5rem;
      color: #fff;
    }
  }
}

@include media-breakpoint-up(xl) {
  .home-service-items-content {
    > div {
      max-width: 490px;
      margin: auto;
    }

    p {
      font-size: 18px;
    }
  }
}
