.booking-modal {
  margin-bottom: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  background-color: rgba($color: #000000, $alpha: 0.6);
  &.open-modal {
    opacity: 1;
    visibility: visible;
  }
  input {
    width: 100%;
  }

  .modal-form-wrapper {
    position: absolute;
    background-color: #fff;
    max-width: 600px;
    width: 100%;
    padding: 3rem;
    border-top: 3px solid theme-color("primary");
    -webkit-box-shadow: 0px 1px 5px 0px rgba(117, 117, 117, 1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(117, 117, 117, 1);
    box-shadow: 0px 1px 5px 0px rgba(117, 117, 117, 1);
    @include media-breakpoint-down("sm") {
      top: 0;
      height: 100%;
      overflow-y: scroll;
      max-width: none;
    }
    .gform_wrapper textarea.large {
      height: 125px;
    }
    .exit-modal {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      font-weight: 700;
      font-size: 2rem;
    }
  }
}
