$block : '.service-slider';

#{$block} {
  position: relative;
}
#{$block}__slide {

  .row{
    > div{
      background-color: #fff;
    }
    .right{
      padding: 20px;
    }
    .left{
      height: 100%;
      min-height: 320px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

#{$block}__inner{
  @include media-breakpoint-down('sm'){
    margin-bottom: 30px;
  }
}

#{$block}__arrows{
  display: flex;
  line-height: 1;
  color: map_get($colors,'primary');
  .slick-arrow{
    border: 1px solid map_get($colors, 'primary');
    padding: 2px 15px;
    font-size: 20px;
    margin-left: 10px;
  }
  .slick-disabled{
    color: #666;
    border-color: #666;
  }
}

@include media-breakpoint-up(md){
  #{$block}__slide {
    img{
      margin-bottom: 0;
    }
    .col-md-5{
      padding-right: 40px;
    }

    .row{
      .right{
        padding: 30px 40px 120px 0;
        min-height: 500px;
      }
      .left{
        background-size: cover;
      }
    }
  }
  #{$block}__arrows{
    position: absolute;
    bottom: 40px;
    left: 41.66667%;
  }
}