.team-members {
  margin-top: 30px;
  text-align: center;

  .item {
    position: relative;
    margin: 0 auto 20px;
    display: inline-block;
    overflow: hidden;
    color: #000;
    max-width: 300px;

    &:hover {
      .overlay {
        opacity: 1 !important;
      }
    }
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    text-align: center;
    background-color: rgba(25, 36, 73, 0.5);
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 12px 15px;
    font-size: 20px;
    transition: opacity 0.3s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
  }
}

@include media-breakpoint-up(md) {
  .team-members {
    display: flex;
    // margin-right: -20px;
    // margin-left: -20px;

    .overlay {
      opacity: 0;
    }

    .item-wrap {
      padding-left: 20px;
      padding-right: 20px;
      flex: 0 0 33.33333333%;
    }
  }
}
