.top-banner-video-content {
  padding: 50px 20px;
  text-align: center;
}

.top-banner-video {
  h1 {
    color: #fff;
    margin-bottom: 40px;
  }

  .top-banner-video-form {
    background-color: rgba(#efede6, 0.8);
    padding: 10px 20px 15px 20px;
    border-top: 6px solid map_get($colors, "primary");
  }
}

.top-banner-video-form {
  max-width: 400px;

  .gform_wrapper ul.gform_fields li.gfield {
    padding-right: 0 !important;
  }
}

.YTPOverlay.raster {
  display: none;
}

@include media-breakpoint-up(md) {
  .top-banner-video-content {
    padding: 60px 20px;
    text-align: left;
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    align-items: center;

    > div {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .top-banner-video-form {
    margin-left: auto;
  }
}

@include media-breakpoint-up(lg) {
  .top-banner-video-content {
    padding: 80px 20px;
  }
}
